## Nama: Joy Disanto Nupa
## NIM: 2209106014
## Kelas: A1 2022 Informatika
## POSTTEST 4 Kecerdasan Buatan
# _________________________________________________________________________________________

In [253]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd

### kita harus mengimport semua library yang akan kita pakai

In [254]:
joy = pd.read_csv('NYC_Motor_Vehicle_Collisions_to_Person.csv')

### lalu kita ambil csv nya untuk keperluan data preprocessing

# DataSplit
### 70:30

In [255]:
X = joy.drop(columns='PERSON_AGE')
y = joy['PERSON_AGE']

In [256]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [257]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(31968, 20)
(13701, 20)
(31968,)
(13701,)

### disini kita melakukan datasplit, dimana kita menentukan x dan y nya untuk di training set dan testing set
### kita memakai test size nya 0,3, karena 0,3 melambangkan 30% dari total data 100% data dan menjadi sisa data 70%

# Standarisasi

In [258]:
joy1 = pd.read_csv('NYC_Motor_Vehicle_Collisions_to_Person-Copy1.csv')

### kita ambil csv nya untuk keperluan data preprocessing

In [259]:
slr = StandardScaler()
joy1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']] = slr.fit_transform(joy1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']])

### kita melakukan standarisasi dengan menggunakan data integer dan float

# Normalisasi

In [260]:
mx = MinMaxScaler()
joy1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']] = mx.fit_transform(joy1[['PERSON_AGE', 'VEHICLE_ID', 'UNIQUE_ID', 'COLLISION_ID']])

In [261]:
joy1['PERSON_AGE'].max()

1.0

In [262]:
joy1['PERSON_AGE'].min()

0.0

### kita melakukan Normalisasi dengan menggunakan data integer dan float, lali kita tampilkan scaler min max nya

# Data Cleaning pada data duplikat

In [263]:
joy = joy.copy()

### mengapa kita mengcopy datanya, karena didataset kita tidak menjumpai duplikasi data, jadi kita copy agar terjadi duplikasi

In [264]:
joy = pd.concat([joy, joy], ignore_index=True)

In [265]:
print("NIlai Duplikat: ")
joy.duplicated().sum()

NIlai Duplikat:

45669

### lalu kita menggabungkan data asli dan data copyan, lalu kita tampilkan data duplikatnya

In [266]:
joy.drop_duplicates(inplace=True)

In [267]:
print("NIlai Duplikat: ")
joy.duplicated().sum()

NIlai Duplikat:

0

### sekarang kita drop lagi data duplikatnya, lalu kita tampilkan lagi dan hasilnya sudah 0 data duplikat

# Data Cleaning nilai null

In [268]:
joy.isnull().sum()

CRASH_DATE                   0
CRASH_TIME                   0
PERSON_INJURY                0
PERSON_AGE                 421
BODILY_INJURY                0
SAFETY_EQUIPMENT          6235
PERSON_SEX                   0
PERSON_TYPE                  0
PED_LOCATION             39098
CONTRIBUTING_FACTOR_2    39123
EJECTION                  6240
COMPLAINT                    0
EMOTIONAL_STATUS             0
VEHICLE_ID                6571
PERSON_ID                    0
CONTRIBUTING_FACTOR_1    39111
POSITION_IN_VEHICLE       6221
PED_ROLE                     0
UNIQUE_ID                    0
PED_ACTION               39098
COLLISION_ID                 0
dtype: int64

### kita tampilkan data-data yang memiliki nilai null dalam kolomnya, agar kita bisa tau dan kita hapus datanya

In [269]:
joy_modus = SimpleImputer(strategy='most_frequent')
joy[['PERSON_AGE', 'SAFETY_EQUIPMENT', 'PED_LOCATION', 'CONTRIBUTING_FACTOR_2', 'EJECTION', 'VEHICLE_ID', 'CONTRIBUTING_FACTOR_1', 'POSITION_IN_VEHICLE', 'PED_ACTION']] = joy_modus.fit_transform(joy[['PERSON_AGE', 'SAFETY_EQUIPMENT', 'PED_LOCATION', 'CONTRIBUTING_FACTOR_2', 'EJECTION', 'VEHICLE_ID', 'CONTRIBUTING_FACTOR_1', 'POSITION_IN_VEHICLE', 'PED_ACTION']])

In [270]:
joy.isnull().sum()

CRASH_DATE               0
CRASH_TIME               0
PERSON_INJURY            0
PERSON_AGE               0
BODILY_INJURY            0
SAFETY_EQUIPMENT         0
PERSON_SEX               0
PERSON_TYPE              0
PED_LOCATION             0
CONTRIBUTING_FACTOR_2    0
EJECTION                 0
COMPLAINT                0
EMOTIONAL_STATUS         0
VEHICLE_ID               0
PERSON_ID                0
CONTRIBUTING_FACTOR_1    0
POSITION_IN_VEHICLE      0
PED_ROLE                 0
UNIQUE_ID                0
PED_ACTION               0
COLLISION_ID             0
dtype: int64

### kita memakai modus untuk menghapus dan kita panggil label/atribut yang memiliki nilai null, setelah itu kita tampilkan datanya lagi dan hasilnya data null telah hilang

# Ganti tipe data salah satu attribute angka

In [271]:
joy1['PERSON_AGE'] = joy1['PERSON_AGE'].astype(object)

In [272]:
joy1.dtypes

CRASH_DATE                object
CRASH_TIME                object
PERSON_INJURY             object
PERSON_AGE                object
BODILY_INJURY             object
SAFETY_EQUIPMENT          object
PERSON_SEX                object
PERSON_TYPE               object
PED_LOCATION              object
CONTRIBUTING_FACTOR_2     object
EJECTION                  object
COMPLAINT                 object
EMOTIONAL_STATUS          object
VEHICLE_ID               float64
PERSON_ID                 object
CONTRIBUTING_FACTOR_1     object
POSITION_IN_VEHICLE       object
PED_ROLE                  object
UNIQUE_ID                float64
PED_ACTION                object
COLLISION_ID             float64
dtype: object

### kita menganti tipe data "Person_Age" dari float64 menjadi object

# One Hot Encoding

In [273]:
joy2 = pd.read_csv('NYC_Motor_Vehicle_Collisions_to_Person-Copy2.csv')

### kita ambil csv nya untuk keperluan data preprocessing

In [274]:
joy2[['PERSON_INJURY', 'BODILY_INJURY', 'PERSON_SEX']]

      PERSON_INJURY         BODILY_INJURY PERSON_SEX
0            Killed                  Head          F
1            Killed           Entire Body          M
2            Killed                  Head          M
3            Killed                  Head          M
4            Killed           Entire Body          F
...             ...                   ...        ...
45664       Injured                  Back          M
45665       Injured   Knee-Lower Leg Foot          M
45666       Injured                  Head          F
45667       Injured  Elbow-Lower-Arm-Hand          F
45668       Injured  Shoulder - Upper Arm          M

[45669 rows x 3 columns]

In [275]:
hot_joy = OneHotEncoder(sparse_output=False)
encoded_joy = hot_joy.fit_transform(joy2[['PERSON_INJURY', 'PERSON_SEX']])

In [276]:
encoded = pd.DataFrame(encoded_joy, 
                       columns=['Killed', 'Injured', 'M', 'F', 'U'])
encoded

       Killed  Injured    M    F    U
0         0.0      1.0  1.0  0.0  0.0
1         0.0      1.0  0.0  1.0  0.0
2         0.0      1.0  0.0  1.0  0.0
3         0.0      1.0  0.0  1.0  0.0
4         0.0      1.0  1.0  0.0  0.0
...       ...      ...  ...  ...  ...
45664     1.0      0.0  0.0  1.0  0.0
45665     1.0      0.0  0.0  1.0  0.0
45666     1.0      0.0  1.0  0.0  0.0
45667     1.0      0.0  1.0  0.0  0.0
45668     1.0      0.0  0.0  1.0  0.0

[45669 rows x 5 columns]

### kita cari label/atribut untuk menjadi bahan praktek OneHot Encoding, lalu kita tampilkan kolomnya

In [277]:
joy2 = pd.concat([joy2, encoded], axis=1)
joy2.head()

,CRASH_DATE,CRASH_TIME,PERSON_INJURY,PERSON_AGE,BODILY_INJURY,SAFETY_EQUIPMENT,PERSON_SEX,PERSON_TYPE,PED_LOCATION,CONTRIBUTING_FACTOR_2,...,POSITION_IN_VEHICLE,PED_ROLE,UNIQUE_ID,PED_ACTION,COLLISION_ID,Killed,Injured,M,F,U
0,2021-05-02,21:00,Killed,62.0,Head,NaN,F,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,...,NaN,Pedestrian,11791937,Crossing Against Signal,4412948,0.0,1.0,1.0,0.0,0.0
1,2021-05-21,0:00,Killed,24.0,Entire Body,Air Bag Deployed,M,Occupant,NaN,NaN,...,Driver,Driver,11819198,NaN,4419608,0.0,1.0,0.0,1.0,0.0
2,2021-10-15,2:00,Killed,30.0,Head,None,M,Occupant,NaN,NaN,...,Driver,Driver,11998317,NaN,4467504,0.0,1.0,0.0,1.0,0.0
3,2021-04-17,13:00,Killed,71.0,Head,NaN,M,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Not at I...,Unspecified,...,NaN,Pedestrian,11745791,"Crossing, No Signal, or Crosswalk",4408062,0.0,1.0,0.0,1.0,0.0
4,2021-05-25,22:00,Killed,69.0,Entire Body,NaN,F,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Not at I...,Unspecified,...,NaN,Pedestrian,11991283,"Crossing, No Signal, Marked Crosswalk",4420918,0.0,1.0,1.0,0.0,0.0

In [278]:
joy_dummies = pd.get_dummies(joy2[['PERSON_INJURY', 'PERSON_SEX']]).replace(False, 0).replace(True, 1)

In [279]:
joy2 = pd.concat([joy2, joy_dummies], axis=1)

In [280]:
joy2.drop(columns=['PERSON_INJURY', 'PERSON_SEX'], inplace=True)
joy2.head()

,CRASH_DATE,CRASH_TIME,PERSON_AGE,BODILY_INJURY,SAFETY_EQUIPMENT,PERSON_TYPE,PED_LOCATION,CONTRIBUTING_FACTOR_2,EJECTION,COMPLAINT,...,Killed,Injured,M,F,U,PERSON_INJURY_Injured,PERSON_INJURY_Killed,PERSON_SEX_F,PERSON_SEX_M,PERSON_SEX_U
0,2021-05-02,21:00,62.0,Head,NaN,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,NaN,Severe Bleeding,...,0.0,1.0,1.0,0.0,0.0,0,1,1,0,0
1,2021-05-21,0:00,24.0,Entire Body,Air Bag Deployed,Occupant,NaN,NaN,Trapped,Internal,...,0.0,1.0,0.0,1.0,0.0,0,1,0,1,0
2,2021-10-15,2:00,30.0,Head,None,Occupant,NaN,NaN,Not Ejected,Internal,...,0.0,1.0,0.0,1.0,0.0,0,1,0,1,0
3,2021-04-17,13:00,71.0,Head,NaN,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Not at I...,Unspecified,NaN,Internal,...,0.0,1.0,0.0,1.0,0.0,0,1,0,1,0
4,2021-05-25,22:00,69.0,Entire Body,NaN,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Not at I...,Unspecified,NaN,None Visible,...,0.0,1.0,1.0,0.0,0.0,0,1,1,0,0

### lalu kita gabungkan data asli dengan data hasil onehot encoding, .Kita juga dapat menggunakan get_dummies dari Pandas untuk menerapkan one-hot encoding. lalu kita tampilkan lagi datanyag